name: Release Please

on:
  push:
    branches:
      - main
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  IMAGE_NAME: phiag/mta-sts-exporter

jobs:
  release-please:
    runs-on: ubuntu-24.04
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Go
        if: ${{ steps.release.outputs.release_created }}
        uses: ./.github/actions/setup-go

      - name: Login to Docker Hub
        if: ${{ steps.release.outputs.release_created }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Export commit timestamp
        if: ${{ steps.release.outputs.release_created }}
        run: echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

      - name: Setup ko
        if: ${{ steps.release.outputs.release_created }}
        uses: ./.github/actions/setup-ko
        env:
          KO_DOCKER_REPO: ${{ secrets.DOCKERHUB_USERNAME }}

      - name: Publish
        if: ${{ steps.release.outputs.release_created }}
        run: >
          ko build
          --base-import-paths
          --tags latest
          --tags ${{ github.sha }}
          --tags ${{ steps.release.outputs.major }}
          --tags ${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}
          --tags ${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
          --image-label org.opencontainers.image.created=$(date -d @${{ env.SOURCE_DATE_EPOCH }} +'%Y-%m-%dT%H:%M:%SZ')
          --image-label org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
          --image-label org.opencontainers.image.version=${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}.${{ steps.release.outputs.patch }}
          --image-label org.opencontainers.image.revision=${{ github.sha }}
          --image-label org.opencontainers.image.licenses=MIT
          --image-label org.opencontainers.image.authors=phi.ag
          --image-label org.opencontainers.image.vendor=phi.ag
          --image-label org.opencontainers.image.authors=${{ github.server_url }}/${{ github.repository }}
        env:
          KO_DEFAULTPLATFORMS: linux/amd64,linux/arm64
          KO_DATA_DATE_EPOCH: ${{ env.SOURCE_DATE_EPOCH }}

      - name: Update Docker Hub description
        if: ${{ steps.release.outputs.release_created }}
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.IMAGE_NAME }}
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true
